.btn {
    border: 1px solid rgba(24, 201, 192, 0.664);
    border-radius: 5px;
    background-color:  #73c6b573 ;
    color: #218099;
    font-size: 14px;
    margin: 15px;
    padding: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    width: 90px;
  }

  .btn:hover {
    border: 1px solid rgba(24, 201, 192, 0.664);
    background-color: #76D7C4;
    color:#218099;
  }
  
  .btn.outline {
    background-color: rgb(141, 241, 230);
    color: rgb(31, 97, 75);
    border: 1px solid rgb(0, 66, 63);
    border-radius: 5px;  }