.app {
  border: 1px solid black;
max-width: 1400px;
align-items: center;

}



.cards {
color: #218099;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px;



}


.homeHead {
  display: flex;
  justify-content: center;
  margin: 30px;
  color: #218099;
  max-width: 900px;


  
}
.homeHead2 {
  display: flex;
  justify-content: center;
  margin: 30px;
  color: #218099;
  max-width: 900px;



}

.border {
  background-color: rgba(255, 127, 127, 0.007);
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  border: 1px solid black;
  color: #218099;
}

.border:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
  color: #218099;
}

.mainLogo {
  flex-direction: column;
  justify-content: center;
}


.logo {
  width: 100px;
  margin-left: 10px;
  
}

.logoName {
  color: #218099;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0 5px 5px 0;
}