.container {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  body, html {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box !important;
  }
  
  h1, h2, h3, h4, p {
    margin-top: 5;
  }