.mainLogo {
  display: flex;
  justify-content: center;
 
}


.logo {
  width: 100px;
  margin-left: 10px;
  
}

.logoName {
  color: #218099;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0 5px 5px 0;
  

}

.head {
  display: flex;
  justify-content: center;
  color: #218099;
}


.head2 {
  display: flex;
  justify-content: center;
  color: #ff1111;
}

.btn {
  display: flex;
  justify-content: center;
}

.cont {
  margin-top: 120px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  border: 1px solid #218099;;
  background-color: #73c6b52c;
  color: #218099;


}

